.env
.unifi_session.json
portconf
port_profiles
networkconf
network_configs
radiusprofile
radius_profiles
logs/
.idea/
test.py
config.py
!input/sites.json.SAMPLE
input/
backups/
setting/
global_settings
wlan_configs
site_data